<!DOCTYPE html>
<html>
<head>
  <title>Assignment4</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script>
    var myApp = angular.module("myModule",[]);
     myApp.controller('myController1', function($scope){
    	$scope.people=[{firstName:'',lastName:''}];
    	
    });
     myApp.controller('myController2', function($scope){
    	$scope.people=[{firstName:'',middlenName:'',lastName:''}];
    	
    });
  </script>
</head>

<body ng-app="myModule" >
  <div ng-controller="myController1" >
  	 <h3>First Controller</h3>
  	 <label>First name: <input type="text" ng-model="firstName" placeholder="first name "/></label><br />
	   <label>Last name:<input type="text" ng-model="lastName" placeholder="last name " /></label>
	   <br><br>
	   <p>full name of the person is: {{firstName}} {{lastName}}</p>
  </div>
  <br><br><br><br>
  <div ng-controller="myController2" >
  	 <h3>Second Controller</h3>
  	 <label>First name: <input type="text" ng-model="firstName" placeholder="first name "/></label><br />
  	 <label>Middle name: <input type="text" ng-model="middleName" placeholder="middle name "/></label><br />
	   <label>Last name:<input type="text" ng-model="lastName" placeholder="last name " /></label>
	   <br><br>
	   <p>full name of the person is: {{firstName}} {{middleName}} {{lastName}}</p>
  </div>
</body>
</html>